@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
}

#hide-search {
  display: none;
}

header {
  width: 90%;
  margin: 0 auto;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.fa-times {
  display: flex;
  color: #fff;
  top: 2rem;
  position: relative;
}

header img {
  width: 200px;
}

.hide {
  display: none;
}

.fas {
  font-size: 1.3rem;
  cursor: pointer;
}

nav {
  display: none;
}

#mobile-menu {
  display: flex;
  left: 0;
  position: absolute;
  width: 100%;
  background: #000;
  opacity: 0.8;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3rem;
  width: 100%;
  height: 90vh;
  color: #000;
}

.side img {
  float: left;
  width: 120px;
  height: 70px;
}

.bulb img {
  width: 400px;
}

@media (min-width: 600px) {
  .fas {
    display: none;
  }

  header ul {
    justify-content: left;
    padding-left: 10rem;
    padding-top: 3rem;
  }

  header {
    width: 70;
  }

  hr {
    display: none;
  }

  header img {
    width: 400px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    background: #000;
    color: #fff;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
  }

  nav ul {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 7vh;
    padding-left: 0;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    line-height: 0.5in;
    background-color: #f9f9f9;
    color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    top: 1.6rem;
    left: 0;
  }

  .fa-chevron-down {
    display: inline;
    padding-left: 3px;
    font-size: 0.7rem;
  }

  form {
    display: flex;
    padding: 2rem;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin-top: -1.3rem;
    border: 2px solid #d3d3d3;
    outline: none;
  }
  input[type="submit"] {
    padding: 10px 8px;
    margin-top: -1.3rem;
    background: #000;
    border: none;
    color: #fff;
  }

  #hide-search {
    display: none;
  }

  .bulb {
    padding-left: 2rem;
  }
}
